# ------------------------
# Backend
# ------------------------
cv-ai-backend/node_modules
cv-ai-backend/.env

# ------------------------
# Frontend
# ------------------------
cv-ai-frontend/node_modules
cv-ai-frontend/.env

# ------------------------
# IDE / Editor
# ------------------------
.idea/

# ------------------------
# System
# ------------------------
Thumbs.db

# ------------------------
# Logs
# ------------------------
*.log
